.centeredGrid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocked {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocked:hover {
    background-color: aqua;
}